{
    "layer": "top",
    "position": "top",
    "height": 34,
    "spacing": 4,

    // Choose the order of the modules
    "modules-left": [
        "sway/workspaces",
        "sway/mode"
    ],
    "modules-center": [
        {{- if .enable_org }}
        "custom/clock"
        {{- else }}
        "clock"
        {{- end }}
    ],
    "modules-right": [
        {{- if .enable_mail }}
        "custom/mail",
        {{- end }}
        {{- if .enable_blog }}
        "custom/blog",
        {{- end }}
        "pulseaudio",
        "network",
        "battery",
        "tray"
    ],

    // Left Modules
    "sway/workspaces": {
        "disable-scroll": true,
        "all-outputs": true,
        "format": "{name}"
    },
    "sway/mode": {
        "format": "<span style=\"italic\">{}</span>"
    },

    // Center Modules
    {{- if .enable_org }}
    "custom/clock": {
        "exec": "$HOME/.local/bin/clock.sh",
        "interval": 10,
        "return-type": "json",
        "on-click": "emacsclient -c -a '' -F '((name . \"waybar-calendar\") (menu-bar-lines . 0) (tool-bar-lines . 0) (vertical-scroll-bars . nil))' -e '(my/open-waybar-calendar)'"
    },
    {{- else }}
    "clock": {
        "tooltip-format": "<big>{:%Y %B}</big>\n<tt><small>{calendar}</small></tt>",
        "format-alt": "{:%Y-%m-%d}"
    },
    {{- end }}

    // Right Modules
    {{- if .enable_mail }}
    "custom/mail": {
        "format": "{} {icon}",
        "format-icons": {
            "unread": "󰇮",
            "read": "",
            "empty": ""
        },
        "return-type": "json",
        "interval": 60,
        "exec": "$HOME/.local/bin/waybar-mail.sh",
        "signal": 8,
        "on-click": "$HOME/.local/bin/raise-notmuch.sh"
    },
    {{- end }}
    {{- if .enable_blog }}
    "custom/blog": {
        "exec": "$HOME/.local/bin/blog-status.sh",
        "return-type": "json",
        "interval": 3600,
        "on-click": "$HOME/.local/bin/blog.sh",
        "tooltip": true
    },
    {{- end }}
    "pulseaudio": {
        "format": "{volume}%  ",
        "format-muted": "🔇 Muted",
        "format-bluetooth": "{volume}% ",
        "on-click": "pavucontrol"
    },
    "network": {
        "format-wifi": "{essid} ({signalStrength}%) ",
        "format-ethernet": "Ethernet 🖧",
        "format-disconnected": "Disconnected ⚠",
        "tooltip-format": "{ifname} via {gwaddr}",
        "on-click": "~/.local/share/wifimenu/wifimenu"
    },
    "battery": {
        "states": {
            "warning": 30,
            "critical": 15
        },
        "format": "{capacity}% {icon}",
        "format-charging": "{capacity}% ⚡",
        "format-plugged": "{capacity}% ",
        "format-icons": ["", "", "", "", ""]
    },
    "tray": {
        "icon-size": 16,
        "spacing": 12
    }
}
